.DS_Store
.idea
*.iml
*.log
config.inc.php
logs/apache/*.log
logs/apache/access.*
logs/apache/error.*
logs/php/*.log
logs/php/access.*
logs/php/error.*
/nbproject/*
tmp/php/opcache/*
!tmp/php/opcache/index.html
tmp/php/session/*
!tmp/php/session/index.html
tmp/php/wsdlcache/*
!tmp/php/wsdlcache/index.html
tmp/twig/*
!tmp/twig/index.html